:root {
    --main-header-bg-color: rgb(13, 96, 96);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: lavenderblush;
}

nav {
  width: 35%;
  list-style-type: none;
  float: right;
  float: top;
  background-color: var(--main-header-bg-color);
  padding-top: 10px;
  display: flex;
}
 /* make li item larger when on the page */
li:active { 
     font-size: 25px;
}
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
  display: inline-block;
  font-size: 20px;
  padding-left: 45px;
  color: lavenderblush;
  text-decoration: none;
  text-align: center;
 }
 
a:hover {
   color: grey;
 }

header {
   padding: 60px;
   margin: 0px;
 }
 
header, 
h1,
a {
   width: 100%;
   background-color: var(--main-header-bg-color);
   color: lavenderblush;
   text-decoration: none;
}
 
h1 {
   width: 30%;
   font-size: 65px;
   font-weight: 400;
   margin-bottom: 0px;
   color: lavenderblush;
 }

.portfolio {
   font-family: 'Fasthand', cursive;
   background-color: var(--main-header-bg-color);
   width: 28%;
   text-align: right;
   font-size: 30px;
   color: lavenderblush;
   }

h3 {
   padding-top: 300px;
   margin-bottom: 0;
   padding-bottom: 0;
   font-size: 50px;
   font-weight: 300;
 }

.about_me {
  height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-image: linear-gradient(var(--main-header-bg-color), lavenderblush);
 }

.about_me h2 {
  scroll-snap-align: start;
 }

figure {
    padding-left: 900px;
    padding-right: 450px;
 }

.ms {
  border-radius: 50%;
  height: 100px;
  width: 80px;
}
#aboutme,
p {
  margin: 0;
  padding: 25px;
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
 }

.work {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
img {
  width: 48%;
}
 
.imgC1 {
  margin-bottom: -10px;
}

.column {
  flex: 50%;
  padding: 0 20px;
}
  
.column img {
  margin-top: 10px;
  vertical-align: middle;
  margin-bottom: 70px;
}

footer  {
   padding-top: 15px;
   background-color: var(--main-header-bg-color);
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 50px;
   text-align: center;
}


 
@media screen and (max-width: 992px) {
  
}


@media screen and (max-width: 768px) {
  .work,
  .nav a {
    flex-direction: column;
  }

  .imgC2 {
    order: 2;
  }
}


@media screen and (max-width: 576px) {
  
}