:root {
    --main-header-bg-color: rgb(13, 96, 96);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: lavenderblush;
}

nav {
  display: inline-flex;
  background-color: var(--main-header-bg-color);
  padding-right: 25px;
  float: right;
}

nav a {
  width: 35%;
  padding-top: 10px;

  
}

li {
  display: inline-flex;
  justify-content: end;
  font-size: 20px;
  padding-left: 45px;
  color: lavenderblush;
  text-decoration: none;
  text-align: center;
 }
 
.navli:hover {
   color: grey;
 }

header {
   padding: 60px;
   margin: 0px;
 }
 
header,
.navli {
   width: 100%;
   background-color: var(--main-header-bg-color);
   color: lavenderblush;
   text-decoration: none;
}
 
h1 {
   width: 30%;
   font-size: 65px;
   font-weight: 400;
   margin-bottom: 0px;
   margin-right: 0px;
   color: lavenderblush;
 }

.portfolio {
   font-family: 'Fasthand', cursive;
   background-color: var(--main-header-bg-color);
   width: 28%;
   text-align: right;
   font-size: 30px;
   color: lavenderblush;
   }

h3 {
   padding-top: 300px;
   margin-bottom: 0;
   padding-bottom: 0;
   font-size: 50px;
   font-weight: 300;
 }

.about_me {
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-image: linear-gradient(var(--main-header-bg-color), lavenderblush);
 }

.about_me h2 {
  scroll-snap-align: start;
 }

figure {
   display: flex;
   align-items: center;
   width: 100%;
 }

.ms {
  border-radius: 50%;
  height: 100px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

#aboutme,
h4,
p {
  margin: 0;
  padding: 25px;
  text-align: center;
  align-items: center;
  margin-right: 200px;
  margin-left: 200px;
 }

 /* main {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   padding: 0px;
   max-height: fit-content;
 } */

  div p {
  position: absolute;
  background-color: var(--main-header-bg-color);
  color: lavenderblush;
  margin-left: 0;
  margin-top: 13.3px;
 }

 .column {
  padding: 0px;
  margin: 50px;
  padding-bottom: -100px;
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 30% 20%;
 
 }

 .column img {
  border: 20px double var(--main-header-bg-color);
  /* padding: 0; */
 }

 .proj:hover { 
  border: 20px solid var(--main-header-bg-color);
 }
 
 #proj1 {
   grid-column-start: 1;
   grid-column-end: 1;
   grid-row-start: 1;
   grid-row-end: 2;
   height: 198%;
   width: 98%;
}

 #proj2 {
   grid-column-start: 2;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 1;
   width: 98%;
   height: 98%;
  }

 #proj3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  width: 98%;
  height: 98%;
 }

 #proj4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  width: 199%;
  height: 98%;
}

footer  {
   padding-top: 15px;
   background-color: var(--main-header-bg-color);
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 50px;
   text-align: center;
   align-items:center;
}

i {
  color: lavenderblush;
  
}

i:hover {
  color: blueviolet;
}

 
@media screen and (max-width: 992px) {
  
}


@media screen and (max-width: 768px) {
  h4,
  .abtMeP {
     margin: auto;
     width: 90%;
     text-align: center;
   }
.column {
    display: block;
    align-items: center;
    max-width: 98%;
    padding: 5px;
    }

  #proj4 {
    max-width: 98%;
  }
.nav li {
  display: flex;
  flex-wrap: wrap;
}
}



@media screen and (max-width: 576px) {
   
  body,
  .about_me {
    background-color: rgb(13, 96, 96);
  }

 h4,
 .abtMeP {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .column {
    display: block;
    align-items: center;
    max-width: 98%;
    padding: 5px;
  }

#proj4 {
    max-width: 98%;
  }
  
.nav li {
  display: flex;
  flex-wrap: wrap;
}
}



